.Yearbook_RightSide{
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 70%;
    right: 1%;
    height: 100%;
    float: right;
}
@media only screen and (max-width: 40em) {
    .Yearbook_RightSide{
        position: relative;
        padding-left: 0;
        padding-right: 0;
        float: left;
        right: 0%;
        width: 100%;
        background-color: #fff;
    }
}

.My_Yearbook{
    width: 100%;
    margin-top: 10px;
    float: right;
}
