.Tool-guide {
  position: relative;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  border-radius: 12px;
  border-style: solid;
  border-color: #716e70;
  border-width: 1px;
  width: 22%;
  right: 1%;
  float: right;
  background-color: #fff;
}

.page-title {
  text-align: left;
  color: black;
  font-size: 1.75rem;
  padding-left: 20px;
}

.page-undertitle {
  padding-left: 20px;
  padding-right: 20px;
  color: #0b4c5e;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 300 !important;
  margin-bottom: 15px;
}

.Help-Bar {
  text-align: left;
  color: black;
  font-size: 1.75rem;
  padding-left: 20px;
}

.main-view {
  position: relative;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  border-radius: 12px;
  border-style: solid;
  border-color: #716e70;
  border-width: 1px;
  width: 45%;
  left: 25%;
  right: 30%;
  float: left;
  background: #fff;
}
