.Tool-guide {
  position: relative;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  border-radius: 12px;
  border-style: solid;
  border-color: #716e70;
  border-width: 1px;
  width: 18%;
  right: 1%;
  float: right;
  background-color: #fff;
  min-height: 350px;
}

@media only screen and (max-width: 40em) {
  .Tool-guide {
    position: relative;
    margin-top: 10px;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    border-radius: 12px;
    border-style: solid;
    border-color: #716e70;
    border-width: 1px;
    width: 100% !important;
    min-height: 100px;
    float: left;
    background-color: #fff;
  }
}
.content_holder {
  background: #fff;
  border-radius: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
}

@media only screen and (max-width: 40em) {
  .content_holder {
    margin: 0px;
    display: table;
    padding: 0px;
    width: 100%;
  }
}

.Calender {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 10px auto;
  padding-top: 20px;
  background-image: url(../../site_media/Images/Calendar.png);
}
@media only screen and (max-width: 40em) {
  .Calender {
    width: 30%;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    float: left;
    background-image: url(../../site_media/Images/Calender2.png);
  }
}
.Notification {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 10px auto;
  padding-top: 20px;
  background-image: url(../../site_media/Images/Settings_Notifications.png);
}
@media only screen and (max-width: 40em) {
  .Notification {
    width: 30%;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    float: left;
    background-image: url(../../site_media/Images/Notification2.png);
  }
}
.Messages {
  width: 60px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 10px auto;
  padding-top: 10px;
  background-image: url(../../site_media/Images/Setting_Messages.png);
  background-color: #3b9f9d;
}
@media only screen and (max-width: 40em) {
  .Messages {
    width: 30%;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    float: left;
    background-image: url(../../site_media/Images/Messages2.png);
    background-color: #fff;
  }
}
.Text {
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.125rem;
  font-weight: 300;
  color: #3b9f9d;
  margin-top: 10px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 40em) {
  .Text {
    display: none;
  }
}
