
.sidebar-profile {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    border-radius: 12px;
    border-style: solid;
    border-color: #716E70;
    border-width: 1px;
    width: 20%;
    right: 75%;
    left: 1%;
    color: white;
  }
  @media only screen and (max-width: 40em){
    .sidebar-profile {
      display: none;
    }
  }
  
  .profile__wrapper {
    background: #fff;
    border-radius: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  
  .child__avatar{
      border: 10px solid #fff;
      width: 120px;
      height: 120px;
      background-size: cover;
      background-position: center center;
      border-radius: 50%;
      margin: 0px auto;
      background-image: url(../../site_media/Logo/Logo_Round.png);
  }
  
  
  .profile__info {
    text-align: center;
    margin-bottom: 25px;
    padding-bottom: 25px;
    background: url(../../site_media/Images/Dotted_line.png) repeat-x left bottom;
  }
  
  .profile__Detail {
    font-size: 1.125rem;
    line-height: 1.125rem;
    font-weight: 300;
    color: #0b4c5e;
    margin-top: 15px;
  }
  .profile_Name{
    font-size: 1.125rem;
    line-height: 1.125rem;
    font-weight: 300;
    color: #63c5c3;
    margin-top: 5px;
  }
  .profile_Unicorn_Name{
    font-size: 0.875rem;
    line-height: 0.875rem;
    font-weight: 300;
    color: black;
    margin-top: 5px;
  }
  
  .profile_blessingGroup{
    font-size: 0.875rem;
    line-height: 0.875rem;
    font-weight: 300;
    color: black;
    margin-top: 15px;
  }
  
  .profile_Color_rank {
    font-size: 0.875rem;
    line-height: 0.875rem;
    font-weight: 300;
    color: black;
    margin-top: 5px;
    padding-bottom: 15px;
  }
  
  .Social-Impact{
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.125rem;
    font-weight: 300;
    color: #63c5c3;
    margin-top: 15px;
  }
  
  .Social_Impact_info{
    text-align: center;
    margin-bottom: 35px;
  }
  
  .Project_amount{
    color: #e7088a;
    margin-top: 10px;
    padding-top: 28px;
    font-size: 25px;
  }
  
  .Profile_Total_Project{
    margin-top: 10px;
    font-size: 1.375rem;
    line-height: 1.375rem;
    font-weight: 300;
    color: #9aafb6;
  }
  