.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5rem;
  background: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
}
/*Mobile*/
@media only screen and (max-width: 40em) {
  .container {
    padding-bottom: 0px;
    padding-top: 0px;
    width: 100%;
    position: fixed;
  }
}

.content {
  position: relative;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 75%;
  left: 25%;
  right: auto;
  float: left;
  padding-right: 20px;
}
@media only screen and (max-width: 40em) {
  .content {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 100%;
    left: 0%;
    right: auto;
    float: left;
  }
}

.menu {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  background: #ffffff;
  z-index: 1000;
  height: auto;
}

.header__wrapper {
  background: #e7088a;
  top: 0;
  height: 70px;
  overflow: hidden;
  width: 100%;
}

.menu__item {
  margin-top: 20px;
  text-align: left;
  border-bottom-width: 100%;
  border-bottom: 1px solid rgb(126, 123, 123);
  border-bottom-width: 100%;
  padding: 10px 10px 30px 10px;
  text-decoration: none;
}

.menu__item_title {
  margin-top: 20px;
  text-align: left;
  border-bottom-width: 100%;
  border-bottom: 1px solid rgb(126, 123, 123);
  border-bottom-width: 100%;
  padding: 20px 10px 0px 10px;
  display: flex;
  flex-flow: row;
}
.menu__item_title a {
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000;
  font-size: 1.75rem;
  text-decoration: none;
  font-family: "TeX";
  font-size: 17px;
  padding: 5px 5px 15px 5px;
  align-items: center;
}

.menu__item_title textarea {
  border: none;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000;
  font-size: 1.75rem;
  text-decoration: none;
  font-family: "TeX";
  font-size: 17px;
  padding: 5px 5px 0px 5px;
  align-items: center;
  width: 75%;
}

.menu__item_title img {
  position: relative;
  float: right;
  width: 52.4px;
  height: 38px;
  margin-top: 7px;
  margin-right: 15px;
  margin-bottom: 35px;
  margin-left: 10px;
  /* align-items: center; */
}

.menu__item a {
  margin-left: 30px;
  margin-bottom: 10px;
  color: #000;
  font-size: 1.75rem;
  text-decoration: none;
  font-family: "TeX";
  font-size: 17px;
  padding: 5px 5px 15px 5px;
  align-items: center;
}

.menu__item textarea {
  border: none;
  width: 75%;
  margin-left: 30px;
  margin-bottom: 10px;
  color: #000;
  font-size: 1.75rem;
  text-decoration: none;
  font-family: "TeX";
  font-size: 17px;
  padding: 5px 5px 0px 5px;
  align-items: center;
}

.menu__item img {
  float: left;
  width: 30px;
  height: 30.88px;
  margin-left: 15px;
  margin-bottom: 40px;
  margin-right: 10px;
  align-items: center;
}

.menu {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  /* right: auto;
  left: auto; */
  width: 100%;
  height: 88%;
  background: #ffffff;
  z-index: 1000;
  overflow-y: scroll;
}

.header-title {
  color: white;
  text-align: center;
  font-size: 15px;
  font-family: "TeX";
}

.header-link {
  float: right;
  margin-right: 20px;
  color: white;
  text-align: right;
  font-size: 15px;
  font-family: "TeX";
}

.menu__content a {
  text-decoration: none;
}
