.Message_Notifictaion_position{
    width: 150px;
    height: 50px;
    margin-top: 100px;
    margin-bottom: 5px;
    right: 1%;
    z-index:999;
    background-color: burlywood;
}
.Message_Outline{
    position: relative;
    border-radius: 12px;
    border-style: solid;
    border-color: #716E70;
    border-width: 1px;
    width: 100%;
    float: left;
}
.Message_icon{
    
}