.main-view {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    border-radius: 12px;
    border-style: solid;
    border-color: #716E70;
    border-width: 1px;
    width: 45%;
    left: 25%;
    right: 30%;
    float: left;
    background: #fff;
}

.post{
    position: relative;
}

.user-icon{
    float: left;
    margin-top: 15px;
    min-height: 1px;
}
.User{
    float: left;
    margin: 12px 0 0 12px;
}
    
.user-image{
    height: 40px;
    width:40px;
    border-radius: 50%;
    background-color:pink;
}

.user-enter{
    position: relative;
    overflow: hidden;
}

.enter-default{
    max-height: 71px;
    min-height: initial;
    padding: 12px 12px 14px 12px;
    font-size: 20px;
    height: 100%;
    line-height: 20px;
    resize: none;
    width: 90%;
    border-color:#fff;
}

.Line{
    border-top: 1px solid #e9ebee;
    margin: 0 12px;
    padding: 8px 0;
}
.Block{
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 25%;
    left: 16.66667%;
    right: auto;
    float: left;
    margin-bottom: 35px;
}
.Photos-position{
    cursor: pointer;
    position: relative;
}
.Photos-Logo{
    height: 10px;
    width: auto;
}
.Photos-text{
    color: #4b4f56;
    font-weight: 600;
    height: 34px;
    line-height: 34px;
    overflow: hidden;
    padding: 0 15px 0 35px;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
}
.Projects{
    margin-right: 6px;
}
.Projects-position{
    cursor: pointer;
    position: relative;
}
.Projects-Logo{
    background-position: 0 -711px;
    display: inline-block;
    width: 50px;
    height: 30px;
    background-image: url(../../site_media/Images/Menu_Projects.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.Projects-text{
    color: #4b4f56;
    display: inline-block;
    font-weight: 600;
    height: 34px;
    line-height: 34px;
    overflow: hidden;
    padding: 0 15px 0 35px;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
}

