.RightSide {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 70%;
    right: 1%;
    height: 100%;
    float: right;
}
@media only screen and (max-width: 40em) {
    .RightSide{
        position: relative;
        padding-left: 0;
        padding-right: 0;
        float: left;
        right: 0%;
        width: 100%;
        background-color: #fff;
    }
}
.Outline{
    position: relative;
    border-radius: 12px;
    border-style: solid;
    border-color: #716E70;
    border-width: 1px;
    width: 100%;
    float: left;
}
@media only screen and (max-width: 40em) {
    .Outline{
        position: relative;
        border-radius: 0px;
        border-style: none;
        border-color: #716E70;
        border-width: 1px;
        width: 100%;
    }
}
.CoverImage{
    height: 180px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 10px auto;
    padding-top: 20px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
}
@media only screen and (max-width: 40em) {
    .CoverImage{
        height: 140px;
        position: relative;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        margin: 0px auto;
        width: 100%;
        background-color: gray;
    }
}

.ImpactEmblem{
    width: 100%;
    margin-top: 10px;
    float: right;
}
@media only screen and (max-width: 40em) {
    .ImpactEmblem{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.Title{
    width: 70%;
    float:left;
    font-size: 1.125rem;
    font-weight: 300;
    color: #3b9f9d;
    margin-top: 20px;
    margin-left: 25px;
}
@media only screen and (max-width: 40em) {
    .Title{
        width: 90%;
        display: block;
        font-size: 1.125rem;
        font-weight: 300;
        color: #3b9f9d;
        margin-top: 10px;
        margin-left: 15px;
    }
}
.sub_Title{
    width: 30%;
    font-size: 1.125rem;
    font-weight: 300;
    color: #3b9f9d;
    margin-top: 20px;
    margin-left: 25px;
}
@media only screen and (max-width: 40em) {
    .sub_Title{
        display: none;
    }
}
.Edit_part{
    width: 10%;
    right: 1%;
    float:right;
    height: 30px;
    margin-top: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../../../site_media/Images/Edit_Icon.png);
}
@media only screen and (max-width: 40em) {
    .Edit_part{
        display: none;
    }
}

.ShowMore{
    width: 10%;
    right: 1%;
    float:right;
    height: 25px;
    margin-top: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../../../site_media/Images/Small_trag.png);
}
@media only screen and (max-width: 40em) {
    .ShowMore{
        width: 5%;
        height: 20px;
        margin-top: 10px;
    }
}
.Emblem{
    border: 10px solid #fff;
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: left;
    border-radius: 50%;
    margin-left: 25px;
    margin-top: 20px;
    background-color:pink;
}

@media only screen and (max-width: 40em) {
    .Emblem{
        width: 140px;
        height: 140px;
        margin-top:10px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;    
    }
}
.BodyText{
    font-size: 0.875rem;
    line-height: 0.875rem;
    font-weight: 300;
    color: black;
    margin-top: 20px;
    margin-left: 25px;
    float: left;
    padding-bottom: 20px;
}
@media only screen and (max-width: 40em) {
    .BodyText{
        display: none;
    }
}

.Badges{
    width: 100%;
    margin-top: 10px;
    float: right;   
}
@media only screen and (max-width: 40em) {
    .Badges{
        border-bottom: 1px solid rgb(126, 123, 123);
    }
}
.Badges_position{
    width: 100%;
    height: 150px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 20px;
    margin-bottom: 5px;
}
@media only screen and (max-width: 40em) {
    .Badges_position{
        width: 100%;
        height: 120px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 20px;
        margin-bottom: 5px;
    }
}
.Badges_section{
    padding-top: 15px;
    left:1%;
    width: 90%;
    padding-bottom: 10px;
    display: flex;
}
@media only screen and (max-width: 40em) {
    .Badges_section{
        flex-direction: row;
        position: relative;
        display: flex;
        width: 90%;
        margin-left: 10px;
    }
}
.Badges_icons{
    margin-bottom: 10px;
    flex-direction: column;
    position: relative;
    display: flex;
    margin-right: 5%;
    border: 1px solid rgb(103, 103, 103);
    width: 90px;
    height: 90px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-color:pink;
}
@media only screen and (max-width: 40em) {
    .Badges_icons{
        width: 60px;
        height: 60px;
        margin-right: 10px;
    }
}

.Repo_Project{
    width: 100%;
    margin-top: 10px;
    float: right;   
}
@media only screen and (max-width: 40em) {
    .Repo_Project{
        border-bottom: 1px solid rgb(126, 123, 123);
    }
}

.Articles{
    width: 100%;
    margin-top: 10px;
    float: right;  
}
@media only screen and (max-width: 40em) {
    .Articles{
        border-bottom: 1px solid rgb(126, 123, 123);
    }
}

.Project_position{
    width: 100%;
    height: 200px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 20px;
    margin-bottom: 5px;
    display: inline-block;
}
@media only screen and (max-width: 40em){
    .Project_position{
        display: inline-block;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 5px;
        margin-left: 0px;
        margin-right: 0px;
    }
}
.Project_section{
    padding-top: 15px;
    left:1%;
    width: 90%;
    padding-bottom: 10px;
    display: flex;
}
@media only screen and (max-width: 40em){
    .Project_section{
        text-align: center;
        width: 100%;
        left: 0;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.Spt_project{
    margin-bottom: 10px;
    flex-direction: column;
    position: relative;
    display: flex;
    margin-right: 10%;
}
@media only screen and (max-width: 40em){
    .Spt_project{
        width: 30%;
        margin-right: 10px;
    }
}
.Project_icons{
    width: 90px;
    height: 130px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image:url(../../../site_media/Images/empty_Report.png);
}
@media only screen and (max-width: 40em){
    .Project_icons{
        margin-left: 5px;
        width: 76px;
        height: 110px;
    }
}
.small-text{
    width: 90px;
    font-size: 0.9rem;
    color: black;
    text-align: center;
}
@media only screen and (max-width: 40em){
    .small-text{
        font-size: 0.875rem;
    }
}

.Articles_position{
    width: 100%;
    height: 200px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 20px;
    margin-bottom: 5px;
    display: inline-block;
}
@media only screen and (max-width: 40em){
    .Articles_position{
        margin-left: 10px;
        width: 90%;
    }
}
.Articles_section{
    left:1%;
    width: 90%;
    margin-bottom: 10px;
}
.Spt_articles{
    width: 100%;
    margin-bottom: 10px;
    flex-direction: row;
    position: relative;
    display: inline-flex;
    margin-right: 10%;
}
.Articles_icons{
    margin-left: 10px;
    width: 130px;
    height: 90px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image:url(../../../site_media/Images/empty_article.png);
}
.Article_text{
    margin-left: 10px;
    width: 100%;
}
.Article_Title_detail{
    width: 100%;
    font-size: 0.9rem;
    color: black;
    text-align: left;
}
.Article_Published_Date{
    width: 100%;
    font-size: 0.9rem;
    color: black;
}