.title {
  background: #3ab5bc;
  width: 100%;
  overflow: hidden;
  overflow-wrap: normal;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  /* line-height: 100px; */
  font-size: 2rem;
  color: white;
  padding: 20px 0;
}

@media only screen and (max-width: 40em) and (max-width: 414px) {
  .title {
    height: 105px;
    font-size: 1.1rem;
    vertical-align: middle;
    /* padding: 30px 0; */
  }
}

@media (max-width: 575px) {
  .title {
    font-size: 1.2rem;
    vertical-align: middle;
    /* padding: 30px 0; */
  }
}

@media (max-width: 700px) {
  .title {
    font-size: 1.7rem;
    vertical-align: middle;
  }
}

.header__toolbar {
  float: right;
  height: 106px;
  background: #fff;
}

@media only screen and (max-width: 40em) {
  .header__toolbar .not-logged-main {
    width: 100%;
    vertical-align: middle;
  }
}
@media only screen and (max-width: 40em) {
  .header__toolbar {
    height: 60px;
    width: 100%;
    text-align: center;
  }
}

.header__signin-buttons {
  margin-top: 35px;
  margin-right: 40px;
}

@media only screen and (max-width: 40em) {
  .header__signin-buttons {
    width: 140px;
    margin: 15px auto !important;
  }
}

@media only screen and (min-width: 40.063em) {
  .header__login_button {
    margin-left: 30px;
  }
}

.header__login_button {
  background: #1cbfec;
  color: #ffffff;
  padding: 5px 10px;
  margin-top: 10px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  -webkit-appearance: none;
  -webkit-border-radius: 5px !important;
}

@media only screen and (max-width: 40em) {
  .header__login_button {
    margin: 0;
  }
}

a {
  text-decoration: none;
  /* color: #ffffff; */
}

.form-wrapper {
  height: auto;
  width: auto;
  margin-left: 20%;
  margin-right: 10px;
}

.register__form {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  float: center;
  text-align: center;
  padding-bottom: 30px;
}

.register__form input {
  margin-left: auto;
  /* margin-right: auto; */
}

/***************************/

.register-form {
  float: left;
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: row;
  /* /* margin-top: 30px; */
  padding-top: 20px;
}

.register-form label {
  padding-top: calc(0.375rem + 1px);
  padding-bottom: calc(0.375rem + 1px);
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.5;
  float: left;
  color: #000;
  font-weight: bold;
  /* width: 50%; */
}
.register-form input {
  /* position: relative; */
  /* float: center; */
  display: block;
  margin-left: 20px;
  width: 100%;

  padding: 0.375rem 0.75rem;
  font-size: 1.1rem;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
::-webkit-input-placeholder {
  font-size: 0.8rem;
  color: #808080;
}

.terms-checkbox {
  margin-top: 10px;
  float: left;
}

.terms-checkbox p {
  display: flex;
  flex-flow: row;
}

.terms-print {
  float: right;
}

.register-btn {
  float: right;
  background: #1cbfec;
  color: #ffffff;
  padding: 10px 15px;
  /* margin-left: 5px; */
  margin-top: 65px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  -webkit-appearance: none;
  -webkit-border-radius: 5px !important;
}

@media only screen and (max-width: 40em) {
  .register-form {
    position: relative;
    width: auto;
  }
}

@media only screen and (max-width: 40em) {
  .register-form input {
    /* position: relative; */
    width: auto;
  }
}

@media only screen and (max-width: 40em) {
  .register-form label {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 40em) {
  .form-wrapper {
    margin-left: 20%;
  }
}
