.Unicorn_M_Power_Part{
    display: hide;
}
@media only screen and (max-width: 40em){
    .Unicorn_M_Power_Part{
        display: block;
        margin-left: 15px;
        margin-top: 10px;
    }
}

.Unicorn_M_Power_Title{
    display: none;
}
@media only screen and (max-width: 40em){
    .Unicorn_M_Power_Title{
        display: block;
        font-size: 1.125rem;
        font-weight: 300;
        color: #3b9f9d;
        margin:3px auto;
    }
}

.Unicorn_M_Power_Text{
    display: none;
}
@media only screen and (max-width: 40em){
    .Unicorn_M_Power_Text{
        display: block;
        font-size: 0.875rem;
        font-weight: 300;
        color: black;
        margin:3px auto;
    }
}