/*This is for the format of the whole app*/

.App {
  height: 100%;
  background: #e7088a;
}

@media only screen and (max-width: 40em) {
  .App {
    width: 100%;
    background: #e7088a;
  }
}

.content-wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5rem;
  border: 12px solid #ffaacc;
  border-top: 0px;
  border-radius: 0px 0px 10px 10p;
  background-color: #fff;
  min-height: 1000px;
}

@media only screen and (max-width: 40em) {
  .content-wrapper {
    border: 0px;
    /* width: auto; */
  }
}

/* move other className styles to respective files (later) */

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5rem;
  background: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
}
/*Mobile*/
@media only screen and (max-width: 40em) {
  .container {
    padding-bottom: 0px;
    padding-top: 0px;
    width: 100%;
    position: fixed;
  }
}
