/*This is for the format of the whole app*/
.App {
  height: 100%;;
  background: #36b1ad;
}
/*
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/

.content-wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5rem;
  border: 12px solid rgba(255, 255, 255, 0.5);
  border-top: 0px;
  border-radius: 0px 0px 10px 10p;
}

.header {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5rem;
  background-color: #fff;
}

.header__logo {
  float: left;
  margin: 28px 0px 0px 20px;
  width: 1px;
  height: auto;
}

.header__toolbar {
  float: right;
  height: 100px;
}

.header__nav {
  clear: both;
  height: 85px;
  background: #e7088a;
  text-align: center;
  z-index: 900;
  width: 100%;
}

.nav__list {
  list-style: none;
  margin: 0px;
  display: table;
  padding: 0px;
  width: 100%;
}

.nav__item--active {
  background: #e7088a;
}

.nav__icon--library {
  width: 60px;
  height: 60px;
  background-color:pink;
  background-position: -60px 0;
}

.nav__item {
  display: table-cell;
  padding: 2px 25px 13px;
  position: relative;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5rem;
  background: #ffaacc;
  padding-top: 50px;
  padding-bottom: 30px;
}

.content {
  position: relative;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  border-radius: 12px;
  width: 45%;
  left: 25%;
  right: 30%;
  float: left;
  background: #fff;
}

.Tool-guide{
  position: relative;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  border-radius: 12px;
  width: 22%;
  right: 1%;
  float:right;
  background-color: #fff;
}

.page-title {
  text-align: left;
  color: black;
  font-size: 1.75rem;
  padding-left: 20px;
}

.page-undertitle {
  padding-left: 20px;
  padding-right: 20px;
  color: #0b4c5e;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 300 !important;
  margin-bottom: 15px;
}

.sidebar-profile {
  position: relative;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 22%;
  right: 75%;
  left: 0%;
  color: teal;
}

.profile__wrapper {
  background: #eff8fa;
  border-radius: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.profile__info {
  text-align: center;
  margin-bottom: 25px;
  padding-bottom: 25px;
}

.profile__name {
  font-size: 1.125rem;
  line-height: 1.125rem;
  font-weight: 300;
  color: #0b4c5e;
  margin-top: 15px;
}
.profile_Unicorn_Name{
  font-size: 1.125rem;
  line-height: 1.125rem;
  font-weight: 300;
  color: #0b4c5e;
  margin-top: 5px;
}

.profile_blessingGroup{
  font-size: 0.875rem;
  line-height: 0.875rem;
  font-weight: 300;
  color: black;
  margin-top: 15px;
}

.profile_Color_rank {
  font-size: 0.875rem;
  line-height: 0.875rem;
  font-weight: 300;
  color: black;
  margin-top: 5px;
}

