.header__wrapper {
  background: #e7088a;
  top: 0;
  height: 70px;
  overflow: hidden;
  width: 100%;
}

.account-menu__item {
  margin-top: 20px;
  text-align: left;
  border-bottom-width: 100%;
  border-bottom: 1px solid rgb(126, 123, 123);
  border-bottom-width: 100%;
  padding: 10px 10px 30px 10px;
}

.account-menu {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 88%;
  background: #ffffff;
  z-index: 1000;
}

.container--nopadding {
  padding-top: 0px !important;
  margin-top: 0px !important;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5rem;
  background: #fff;
  padding-top: 50px;
  padding-bottom: 30px;
}

.ob-wizard,
.ob-wizard__login {
  margin: 20px 20px 80px;
}

.pre-wrapper {
  width: 100%;
  margin-left: 25px;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5rem;
}

.form-items {
  clear: both;
}

/* css for payment form */
#checkout-form input {
  max-width: 290px !important;
}

.form-item label {
  display: block;
  font-size: 1.125rem;
  color: #888;
  font-size: 1.125rem;
  color: #34495e;
}

.form-item input[type="email"],
.form-item input[type="text"],
.form-item input[type="password"],
.form-item input[type="number"] {
  margin-top: 5px;
  padding: 12px;
  display: block;
  color: #808b96;
  font-size: 1.0625rem;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  -webkit-appearance: none;
  -webkit-border-radius: 5px;
  border-radius: 6px;
  border: 2px solid #8ddef4;
  color: #999999;
  font-size: 1.25rem;
}

.form-item input[type="email"],
.form-item input[type="text"],
.form-item input[type="password"] {
  padding: 5px !important;
  border: 2px solid #8ddef4 !important;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  background-color: white;
  font-family: inherit;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.875rem;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  height: 2.3125rem;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}
